/* configuracion general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #181818;
    background: white;

    padding: 0 5%;
}

button,
a {
    font-family: Arial, sans-serif;
}


/*colores  */

:root {

    --verde: #286b32;

    --verde-claro: #edf6ea;

    --verde-suave: #dff0dc;

    --amarillo: #f5a400;

    --gris: #777;

    --borde: #dedede;

}


/* header */

.header {

    height: 90px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    border-bottom: 1px solid #eee;
}


/* LOGO */

.logo {

    display: flex;

    align-items: center;

    gap: 10px;
}

.logo img {

    width: 48px;

    height: 48px;

    object-fit: contain;
}

.logo div {

    display: flex;

    flex-direction: column;

    line-height: 1.1;
}

.logo strong,
.logo span {

    font-size: 16px;
}


/* MENÚ */

.menu {

    display: flex;

    gap: 45px;
}

.menu a {

    text-decoration: none;

    color: #222;

    font-size: 15px;
}

.menu .activo {

    color: var(--verde);

    font-weight: bold;

    border-bottom: 3px solid var(--verde);

    padding-bottom: 9px;
}


/* USUARIO */

.usuario {

    display: flex;

    align-items: center;

    gap: 10px;

    font-size: 14px;
}

.usuario img {

    width: 40px;

    height: 40px;

    object-fit: cover;

    border-radius: 50%;
}

.usuario i {

    font-size: 10px;
}


/* encabezado destino */

.encabezado-destino {

    display: flex;

    justify-content: space-between;

    align-items: end;

    padding: 25px 0 20px;
}

.encabezado-destino h1 {

    font-size: 36px;

    margin-bottom: 8px;
}

.encabezado-destino p {

    color: #333;

    font-size: 15px;
}

.encabezado-destino p i {

    color: var(--verde);

    margin-right: 5px;
}


/* ACCIONES */

.acciones {

    display: flex;

    gap: 0;
}

.acciones button {

    background: white;

    border: none;

    border-right: 1px solid #ddd;

    padding: 10px 25px;

    cursor: pointer;

    font-size: 14px;
}

.acciones button:last-child {

    border: none;
}

.acciones i {

    margin-right: 8px;

    font-size: 17px;
}


/* contenido principal */

.contenido {

    display: grid;

    grid-template-columns: 1.3fr .7fr;

    gap: 35px;
}


/* galeria*/

.galeria {

    position: relative;
}

.imagen-principal {

    width: 100%;

    height: 430px;

    object-fit: cover;

    border-radius: 22px;

    display: block;
}


/* BOTÓN RESERVAR */

.reservar {

    position: absolute;

    left: 20px;

    bottom: 20px;

    background: var(--verde);

    color: white;

    border: none;

    border-radius: 25px;

    padding: 14px 22px;

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;
}

.reservar i {

    margin-right: 8px;
}


/* FLECHA */

.flecha {

    position: absolute;

    right: 15px;

    top: 50%;

    transform: translateY(-50%);

    width: 45px;

    height: 45px;

    border: none;

    border-radius: 50%;

    background: white;

    cursor: pointer;

    font-size: 16px;
}


/* miniaturas */

.miniaturas {

    display: grid;

    grid-template-columns:
        repeat(5, 1fr) 70px;

    gap: 8px;

    margin-top: 8px;
}

.miniaturas img {

    width: 100%;

    height: 70px;

    object-fit: cover;

    border-radius: 10px;
}


/* +12 */

.mas-fotos {

    height: 70px;

    border-radius: 10px;

    background: #333;

    color: white;

    display: flex;

    align-items: center;

    justify-content: center;

    font-weight: bold;
}


/* categotias */

.categorias {

    display: flex;

    gap: 8px;

    margin: 12px 0;
}

.categorias span {

    padding: 5px 12px;

    border-radius: 15px;

    color: white;

    font-size: 11px;

    font-weight: bold;
}

.gastronomia {

    background: #f4b400;
}

.hospedaje {

    background: #218c8c;
}

.turismo {

    background: #df3940;
}


/* descripcion*/

.descripcion {

    max-width: 850px;

    font-size: 14px;

    line-height: 1.5;

    color: #333;

    margin-bottom: 18px;
}


/* reseña */

.reseñas {

    display: grid;

    grid-template-columns: .8fr 1fr 1fr;

    gap: 15px;
}


/* RESUMEN */

.resumen-rating {

    border: 1px solid var(--borde);

    border-radius: 15px;

    padding: 15px;
}

.numero-rating {

    font-size: 38px;

    font-weight: bold;

    color: var(--verde);
}

.resumen-rating strong {

    color: var(--verde);

    font-size: 15px;
}

.estrellas {

    margin: 5px 0;

    color: var(--amarillo);

    font-size: 13px;
}


/* BARRAS */

.barras {

    margin: 8px 0;

    font-size: 9px;
}

.barras div {

    display: flex;

    align-items: center;

    gap: 5px;

    margin: 2px 0;
}

.barras span {

    width: 70px;

    height: 5px;

    background: #ddd;

    border-radius: 5px;
}

.barras b {

    display: block;

    height: 100%;

    width: 75%;

    background: var(--verde);
}


/* RESEÑA */

.reseña {

    border: 1px solid var(--borde);

    border-radius: 15px;

    padding: 15px;

    display: flex;

    gap: 10px;
}

.reseña>img {

    width: 35px;

    height: 35px;

    object-fit: cover;

    border-radius: 50%;
}

.nombre-reseña {

    display: flex;

    justify-content: space-between;

    gap: 20px;

    font-size: 12px;
}

.nombre-reseña span {

    color: var(--amarillo);
}

.reseña p {

    font-size: 12px;

    line-height: 1.4;

    margin: 10px 0;
}

.reseña small {

    color: #888;

    font-size: 9px;
}


/* columna derecha*/

.columna-derecha {

    display: flex;

    flex-direction: column;

    gap: 12px;
}


/* CARDS */

.card {

    border: 1px solid var(--borde);

    border-radius: 15px;

    padding: 20px;

    display: flex;

    align-items: center;

    gap: 15px;
}

.icono-card {

    font-size: 22px;

    width: 30px;

    text-align: center;
}

.card h3 {

    font-size: 15px;

    margin-bottom: 7px;
}

.card p {

    font-size: 13px;

    line-height: 1.5;
}


/* ABIERTO */

.abierto {

    margin-left: auto;

    background: var(--verde-suave);

    color: var(--verde);

    border-radius: 15px;

    padding: 6px 12px;

    font-size: 11px;

    font-weight: bold;
}


/* PRECIO */

.precio strong {

    margin-left: auto;

    color: #174e22;

    font-size: 17px;

    white-space: nowrap;
}


/* ETIQUETAS */

.etiqueta {

    display: inline-block;

    background: #eee;

    border-radius: 12px;

    padding: 5px 9px;

    font-size: 10px;

    margin-right: 4px;
}


/* servicios */

.servicios-card {

    background: #f3f6f1;

    border-radius: 17px;

    padding: 20px;
}

.servicios-card h2 {

    text-align: center;

    font-size: 16px;

    margin-bottom: 20px;
}

.servicios {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.servicios div {

    display: flex;

    align-items: center;

    gap: 10px;

    font-size: 13px;
}

.servicios i {

    font-size: 18px;
}


/* sitios similares */

.similares {

    margin: 35px 0 50px;
}

.titulo-seccion {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 15px;
}

.titulo-seccion h2 {

    font-size: 20px;
}

.titulo-seccion a {

    color: var(--verde);

    text-decoration: none;

    font-size: 13px;
}


/* TARJETAS */

.tarjetas-similares {

    display: grid;

    grid-template-columns:
        repeat(5, 1fr);

    gap: 15px;
}

.sitio {

    border: 1px solid #ddd;

    border-radius: 14px;

    overflow: hidden;

    background: white;
}

.sitio>img {

    width: 100%;

    height: 130px;

    object-fit: cover;

    display: block;
}

.sitio>div {

    padding: 10px;
}

.sitio h3 {

    font-size: 14px;

    margin-bottom: 6px;
}

.sitio span {

    color: var(--verde);

    font-size: 12px;

    font-weight: bold;
}

.sitio small {

    float: right;

    color: #888;

    font-size: 10px;
}


/* responsibe */

@media (max-width: 1000px) {

    .contenido {

        grid-template-columns: 1fr;

    }

    .tarjetas-similares {

        grid-template-columns:
            repeat(3, 1fr);

    }

}


@media (max-width: 700px) {

    body {

        padding: 0 15px;

    }

    .header {

        height: auto;

        padding: 15px 0;

        flex-wrap: wrap;

        gap: 15px;

    }

    .menu {

        order: 3;

        width: 100%;

        justify-content: center;

        gap: 20px;

    }

    .encabezado-destino {

        display: block;

    }

    .acciones {

        margin-top: 15px;

    }

    .acciones button {

        padding: 8px 10px;

    }

    .imagen-principal {

        height: 330px;

    }

    .miniaturas {

        grid-template-columns:
            repeat(3, 1fr);

    }

    .miniaturas img:nth-child(n+4) {

        display: none;

    }

    .mas-fotos {

        display: none;

    }

    .reseñas {

        grid-template-columns: 1fr;

    }

    .tarjetas-similares {

        grid-template-columns:
            repeat(2, 1fr);

    }

}


@media (max-width: 450px) {

    .menu {

        overflow-x: auto;

        justify-content: flex-start;

    }

    .encabezado-destino h1 {

        font-size: 28px;

    }

    .precio {

        flex-wrap: wrap;

    }

    .precio strong {

        margin-left: 45px;

    }

    .tarjetas-similares {

        grid-template-columns: 1fr;

    }

}